.forHover li :hover{
    color: rgb(255, 196, 0) !important;
}
.forcolor{
    color: rgb(255, 196, 0);
}
.forFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 440px) {
    .forFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .respoAlingn{
        margin-bottom: 15px;
    }
}